DEBUG=True
SECRET_KEY=change-me-in-real-env
DJANGO_SETTINGS_MODULE=core.settings.dev

DATABASE_URL=postgres://school_user:school_pass@db:5432/school_db
REDIS_URL=redis://redis:6379/0

ALLOWED_HOSTS=localhost,127.0.0.1